<div class="container">
    <h2>Products</h2>
    <div class="abc">
      <div class="cards-deck row">
        <div class="card col-md-4" *ngFor="let product of products;let i=index;">
          <div class="card-title">
          <h3>{{product.p_name}}</h3>
          </div>
          <div class="card-body">
            <img src="{{product.p_image}}" width="100" height="100" alt="" />

          </div>
          <div class="card-footer">
            {{product.p_cost}}
            <br/>
            <button class="btn btn-primary" (click)=addToCart(product)>  Add to cart  </button>
          </div>
        </div>
      </div>
    </div>
  </div>
